<div class="HomeWrapper" id="Page2">
                <div class="list">
                    <div class="InvoiceItem" style="float: left;">
                        
                        <div class="item item-input item-stacked-label InvoiceField-1 A-4" id="InvoiceField">
							<span class="input-label InvoiceField">Amount- 3</span>
							<select ng-model="callculationObject.taxOption" ng-change="onTaxChange()" class="PercentDropDown Percent_Drop_Down" id="Per-A">
								<option>100%</option>
								<option>90%</option>
								<option>80%</option>
								<option>70%</option>
								<option>60%</option>
								<option>50%</option>
								<option>40%</option>
								<option>30%</option>
								<option>20%</option>
								<option>10%</option>
							</select>
                            <input value="{{callculationObject.amount3=(parseInt(callculationObject.firstAmount*callculationObject.taxValue))+invoice_sub_total()}}" type="number" id="Amount-4" class="Amount-4" placeholder="0" ng-readonly="true">
						</div>
                        <div class="item item-input item-stacked-label InvoiceField" id="InvoiceField">
                            <span class="input-label InvoiceField">Integer</span>
                            <input ng-model="callculationObject.integer" type="number" onkeypress="return isNumberKey(event)" id="Integer" placeholder="0" >
                        </div>
                        <div class="item item-input item-stacked-label InvoiceField" id="InvoiceField">
                            <span class="input-label InvoiceField">Percentage</span>
                            <input ng-model="callculationObject.percentage" ng-change="onPercentageChange()" onkeypress="return isNumberForInteger(event)" type="number" id="IntegerTest"  placeholder="0" class="PercentageX"><p id="PercentageZ">%</p>
                        </div>
                        <div class="clear"></div>
                        <div class="item item-input item-stacked-label InvoiceField" id="InvoiceField">
                            <span class="input-label InvoiceField">list - 3</span>
                            <select ng-model="callculationObject.listOptions" ng-change="onListIchange()" class="PercentDropDown"  >
                                <option>I - 1</option>
                                <option>I - 2</option>
                            </select>
                        </div>
                        <div class="item item-input item-stacked-label InvoiceField-1 A-4" id="InvoiceField">
                            <span  class="input-label InvoiceField">Amount-4</span>
                            <select ng-model="amount4.selected" class="PercentDropDown Percent_Drop_Down" id="Per-A">
                                <option>Per-Annum</option>
                                <option>Per-Month</option>
                                <option>Per-Quarter</option>
                                <option>Per-Fornight</option>
                                <option>Per-Week</option>
                            </select>
                            <input value="{{amount4.amount=calculateAmount4()}}" type="number" id="Amount-4" class="Amount-4"  placeholder="0" ng-readonly="true">
                        </div>
                        <div class="item item-divider Title-1" style="margin-top: 0px; padding-top: 0; margin-bottom: 5px;">
                            Other Cost
                        </div>
                          <div class="item item-input item-stacked-label InvoiceField-1 A-4" id="InvoiceField">
                            <span  class="input-label InvoiceField">Amount-5</span>
                            <select ng-model="amounts2[0].selected" class="PercentDropDown Percent_Drop_Down" id="Per-A">
                                <option>Per-Annum</option>
                                <option>Per-Month</option>
                                <option>Per-Quarter</option>
                                <option>Per-Fornight</option>
                                <option>Per-Week</option>
                            </select>
                            <input type="number" onkeypress="return isNumberKey(event)" id="Amount-4" class="Amount-4" ng-model="amounts2[0].amount" placeholder="0" >
                        </div>
                          <div class="item item-input item-stacked-label InvoiceField-1 A-4" id="InvoiceField">
                            <span  class="input-label InvoiceField">Amount-6</span>
                            <select ng-model="amounts2[1].selected" class="PercentDropDown Percent_Drop_Down" id="Per-A">
                                <option>Per-Annum</option>
                                <option>Per-Month</option>
                                <option>Per-Quarter</option>
                                <option>Per-Fornight</option>
                                <option>Per-Week</option>
                            </select>
                            <input type="number" id="Amount-4" onkeypress="return isNumberKey(event)" class="Amount-4" ng-model="amounts2[1].amount" placeholder="0" >
                        </div>
                          <div class="item item-input item-stacked-label InvoiceField-1 A-4" id="InvoiceField">
                            <span  class="input-label InvoiceField">Amount-7</span>
                            <select ng-model="amounts2[2].selected" class="PercentDropDown Percent_Drop_Down" id="Per-A">
                                <option>Per-Annum</option>
                                <option>Per-Month</option>
                                <option>Per-Quarter</option>
                                <option>Per-Fornight</option>
                                <option>Per-Week</option>
                            </select>
                            <input type="number" id="Amount-4" onkeypress="return isNumberKey(event)" class="Amount-4" ng-model="amounts2[2].amount" placeholder="0" >
                        </div>
                        
                     
                        <div ng-if="$index>2"  ng-repeat="amount in amounts2" class="item item-input item-stacked-label InvoiceField-1 A-4" id="InvoiceField">                      
                           <span class="input-label InvoiceField">{{amount.amoutName}}{{$index-2}}</span>
                           <select ng-model="amounts2[$index].selected" class="PercentDropDown Percent_Drop_Down" id="Per-A">
                               <option>Per-Annum</option>
                               <option>Per-Month</option>
                               <option>Per-Quarter</option>
                               <option>Per-Fornight</option>
                               <option>Per-Week</option>
                           </select>
                           <input type="number" id="Amount-4" onkeypress="return isNumberKey(event)" class="Amount-4" ng-model="amounts2[$index].amount" placeholder="0" >              
                       </div>    
                                
                        <div class="clear"></div>
                        <button ng-click="addAmount2()" class="button button-light PlusBtn">
                            +
                        </button>
                        <div class="item item-divider Title-2" >
                            Negative
                        </div>
                        <div class="clear"></div>
                        <div class="item item-input item-stacked-label InvoiceField-1 A-4" id="InvoiceField">
                            <span class="input-label InvoiceField" id="NetAmount">Amount - 8</span>
                            <select ng-model="callculationObject.nagativeAmoutOption" ng-change="onNagativeAmountChange()" class="PercentDropDown Percent_Drop_Down" id="Per-A">
                                <option>Per-Annum</option>
                                <option>Per-Month</option>
                                <option>Per-Quarter</option>
                                <option>Per-Fornight</option>
                                <option>Per-Week</option>
                            </select>
                            <input ng-model="callculationObject.nagativeAmout" type="number" onkeypress="return isNumberKey(event)" id="Amount-4" class="Amount-4"  placeholder="0" >
                            
                        </div>
                        <div class="Sprater"></div>
                        <div class="item item-input item-stacked-label InvoiceField-1 A-4" id="InvoiceField">
                            <span class="input-label InvoiceField" style="color: #00a651;" id="NetAmount">Net Amount</span>
                            <select ng-model="callculationObject.netAmoutOption" ng-change="onNetAmountChange()" class="PercentDropDown Percent_Drop_Down" id="Per-A">
                                <option>Per-Annum</option>
                                <option>Per-Month</option>
                                <option>Per-Quarter</option>
                                <option>Per-Fornight</option>
                                <option>Per-Week</option>
                            </select>
                            <input value="{{netAmountCalculator()}}" type="number" id="Amount-4" class="Amount-4"  placeholder="0"  ng-readonly="true">
                        </div>
                    </div>
                </div>
            </div>